@use 'themes' as *;

/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";

.main-background {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
}